<div class="footer-wrapper">
  <footer>
    <div id="footer-bottom-wrapper">
      <div id="footer-bottom">
        <div class="row">
          <div class="footer_i18" >
            <div class="p_title"><p><%= link_to t(".title") %></p></div>
            <div class= "i18n">
              <%= link_to t(".en"), locale: "en" %>
              <%= link_to t(".vi"), locale: "vi" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
